<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Naemilham Letter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="margin: 0; padding: 0">
    <table align="center" cellpadding="0" cellspacing="0" width="600">
      <tr>
        <td>
          <img
            src="cid:banner_image"
            alt="Naemilham Header"
            width="600"
            height="200"
            style="display: block; max-width: 100%"
          />
        </td>
      </tr>

      <tr>
        <td
          bgcolor="#AE3A1E"
          style="
            font-size: 21px;
            font-weight: bold;
            color: #ffffff;
            padding: 17px 35px 17px 35px;
            font-family: 나눔명조, serif, AppleGothicNeoSD,
              Apple SD 산돌고딕 Neo, Microsoft NeoGothic, Droid sans, sans-serif;
          "
        >
          <!-- {{ subject }} -->
          청첩장을 받고 든 생각들
        </td>
      </tr>
      <tr>
        <td
          bgcolor="#F3F3F3"
          style="
            padding: 30px 35px 10px 35px;
            font-size: 16px;
            font-family: 나눔명조, serif, AppleGothicNeoSD,
              Apple SD 산돌고딕 Neo, Microsoft NeoGothic, Droid sans, sans-serif;
            line-height: 1.5;
            text-align: justify;
          "
        >
          <!-- {{ message }} -->
          얼마 전, 청첩장을 받았습니다. 저에게 직접 전달된 청첩장은
          처음이었습니다. 어찌 보면 남의 일일뿐이지만 묘하게 뿌듯한 기분이
          들었습니다. 어엿한 어른의 생애 단계가 시작된 것 같은 감각, 사회의
          일원이 된 것 같은 감각들이 뒤섞여서 이상한 보람 같은 것을
          만들어냈습니다. 정상성의 단계들을 밟아나가는 것은 안정적이고 행복한
          일임이 분명합니다. 당사자들이 그 안에서 진실로 행복한가에 대한 논의는
          차치하더라도, 주변인들의 부러움을 사는 일임은 분명합니다. 낭만적
          사랑의 종착지로서의 결혼은 사회적으로 견고한 제도이고, 그 안에
          참여하는 의례는 신랑-신부의 당사자 뿐 아니라 주변인들에게도 정상성의
          안정감을 주는 것 같습니다. 인생에 있어 어떤 단계를 밟아나갈 수 있다는
          것 자체는 삶의 의욕과 정당성을 끊임없이 확인받을 수 있는 일일 겁니다.
          주변 친구의 결혼식에 다녀오는 지인들도 많아지고 있습니다. <br><br>어떤
          방법으로든 경제적인 여건이 해결되기만 한다면, 이른 나이에도 모두에게
          축복받는 결혼을 할 수 있다고 하더라고요. 지배적인 제도에 편입되고
          인생의 과업을 해결해나가는 여정은 순탄치만은 않겠지만, 사회가 인정한
          주체만이 해낼 수 있는 일이고 스스로의 서사를 만들 수 있는 특권임이
          분명합니다. 유독 한국에서는 결혼생활에 대해 자조적으로 이야기하는
          부부들을 많이 볼 수 있습니다. ‘가족끼리 그러는 거 아니다’와 같은
          담론이 지배적이죠. 물론 이것이 실재하는 부부의 성의 문제이기도 하지만,
          그것을 공공연하게 말할 수 있다는 것 속에서 저는 특권의식을 읽게
          됩니다. <br><br>드라마 <작은 아씨들>의 “가장 고급 유머는 자기 비하예요”라는
          대사가 떠오릅니다. 자기 비하는 소위 고급스러운 자들의 전유물일지도
          모르겠습니다. 이런저런 비판적인 생각들을 늘어놓았지만, 그럼에도 저는
          누군가의 결혼이 너무 좋습니다. 사랑을 찬란하게 이야기하고 신화적으로
          축복을 발화할 수 있는, 이제는 얼마 남아있지 않은 의례 중 하나이니까요.
          결혼식의 화려함과 웅장함, 웃음소리와 눈물, 극한의 감정들과 절제된
          행동들이 버무려진 공간도 좋습니다. 그래서, 그 좋은 결혼이 모두의 것이
          될 수 있으면 좋겠다는 상상을 합니다. 좋은 무언가를 얻기 위한 어정쩡한
          자격요건들이 사라지는 날이 오면 좋겠습니다. 아무튼 청첩장 덕에, 대리로
          설렜던 며칠이었네요. 좋은 일은 나누면 커진다는 말이 사실인 것
          같습니다. 좋은 일 가득한 하루 보내세요 :)
        </td>
      </tr>
      <tr>
        <td
          bgcolor="#F3F3F3"
          style="
            padding: 0px 35px 30px 35px;
            font-size: 16px;
            font-family: 나눔명조, serif, AppleGothicNeoSD,
              Apple SD 산돌고딕 Neo, Microsoft NeoGothic, Droid sans, sans-serif;
            line-height: 1.4;
            text-align: right;
            font-style: italic;
          "
        >
          <!-- {{ writer }} 드림 -->
          권혁범 드림
        </td>
      </tr>
    </table>
  </body>
</html>
